{
  "presets": [
    [
      "@griffel",
      {
        "modules": [
          {
            "moduleSource": "@griffel/core",
            "importName": "makeStyles"
          }
        ]
      }
    ]
  ]
}
